<%= model_error_tag(@contract) %>
<div class="row border-bottom mb-3">
    <%= f.hidden_field :company_id, :required => true %>

    <div class="col-lg-6 col-12 form-group">
        <%= f.label :file, mt(:contract, :file) %><span class="text-red">*</span>
        <%= link_to @contract.file.url do %><%= fa_icon_tag('download') %> <%= t(:file) %><% end if @contract.file.present? %>
        <%= f.file_field :file, :required => (action_name != 'edit'), :class => 'form-control-file' %>
    </div>

    <div class="col-lg-3 col-6 form-group">
        <%= f.label :started_at, mt(:contract, :started_at) %><span class="text-red">*</span>
        <%= f.text_field :started_at, :required => true, :class => 'form-control datepicker' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :ended_at, mt(:contract, :ended_at) %><span class="text-red">*</span>
        <%= f.text_field :ended_at, :required => true, :class => 'form-control datepicker' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :cpt, mt(:contract, :cpt) %><span class="text-red">*</span>
        <%= f.number_field :cpt, :min => 0, :required => true, :class => 'form-control', :placeholder => '每60分钟的费用' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :base_duration, mt(:contract, :base_duration) %><span class="text-red">*</span>
        <%= f.text_field :base_duration, :min => 0, :required => true, :class => 'form-control', :placeholder => '范例: 30,45,60 (用半角逗号隔开)' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :progressive_duration, mt(:contract, :progressive_duration) %><span class="text-red">*</span>
        <%= f.number_field :progressive_duration, :min => 1, :required => true, :class => 'form-control', :placeholder => '基础时长之后的递进幅度' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :payment_time, mt(:contract, :payment_time) %><span class="text-red">*</span>
        <%= f.select :payment_time, payment_time_options, { :include_blank => false }, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :payment_way, mt(:contract, :payment_way) %><span class="text-red">*</span>
        <%= f.text_field :payment_way, :required => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :is_tax_included, mt(:contract, :is_tax_included) %><span class="text-red">*</span>
        <%= f.select :is_tax_included, boolean_options, { :include_blank => false }, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :is_invoice_needed, mt(:contract, :is_invoice_needed) %><span class="text-red">*</span>
        <%= f.select :is_invoice_needed, boolean_options, { :include_blank => false }, :class => 'form-control select2' %>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :financial_info_name_cn, mt(:contract, 'financial_info.name_cn') %>
        <%= text_field_tag :'financial_info[name_cn]', @contract.financial_info['name_cn'], :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :financial_info_name_en, mt(:contract, 'financial_info.name_en') %>
        <%= text_field_tag :'financial_info[name_en]', @contract.financial_info['name_en'], :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :financial_info_phone, mt(:contract, 'financial_info.phone') %>
        <%= text_field_tag :'financial_info[phone]', @contract.financial_info['phone'], :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :financial_info_email, mt(:contract, 'financial_info.email') %>
        <%= email_field_tag :'financial_info[email]', @contract.financial_info['email'], :class => 'form-control' %>
    </div>
</div>