<%= model_error_tag(@contract) %>
<div class="row">
    <%= f.hidden_field :company_id, :required => true %>

    <div class="col-lg-12">
        <div class="input-group input-group-sm input-group-align mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><%= mt(:contract, :file) %><sup class="text-red">*</sup></span>
            </div>
            <%= f.file_field :file, :required => true, :class => '' %>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="input-group input-group-sm input-group-align mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><%= mt(:contract, :is_tax_included) %><sup class="text-red">*</sup></span>
            </div>
            <%= f.select :is_tax_included, boolean_options, {}, :required => true, :class => 'form-control' %>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group input-group-sm input-group-align mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><%= mt(:contract, :is_invoice_needed) %><sup class="text-red">*</sup></span>
            </div>
            <%= f.select :is_invoice_needed, boolean_options, {}, :required => true, :class => 'form-control' %>
        </div>
    </div>

</div>