<table class="table table-sm card-text border-bottom">
    <thead>
    <tr>
        <th class="pl-3"><%= t('dashboard.ranking') %></th>
        <th><%= mt(:user, :name_cn) %></th>
        <th><%= t('dashboard.total_hours') %></th>
    </tr>
    </thead>
    <tbody>
    <% @current_month_task_ranking.each_with_index do |info, index| %>
        <tr>
            <th class="pl-3"><%= index + 1 %></th>
            <td><%= info[:username] %></td>
            <td><%= (info[:total_minutes] / 60.0).round(2) %> h</td>
        </tr>
    <% end %>
    </tbody>
</table>