<table class="table table-sm table-striped border-bottom nowrap card-text">
    <thead>
    <tr>
        <th><%= mt(:project_task, :id) %></th>
        <th><%= mt(:project, :name) %></th>
        <th><%= mt(:project_task, :interview_form) %></th>
        <th><%= mt(:candidate_experience, :current_company) %></th>
        <th><%= mt(:expert) %></th>
        <th><%= mt(:project_task, :started_at) %></th>
        <th><%= mt(:project_task, :duration) %></th>
        <th><%= mt(:project_task, :charge_duration) %></th>
        <th><%= mt(:project, :pm) %></th>
        <th><%= mt(:project, :pa) %></th>
    </tr>
    </thead>
    <tbody>
    <% @project_tasks.each do |task| %>
        <% project = task.project %>
        <tr>
            <td><%= content_tag :span, "# #{task.uid}", :class => 'text-gray' %></td>
            <td title="<%= "#{project.company.name_abbr} - #{project.name}" %>"><%= truncate("#{project.company.name_abbr} - #{project.name}", length: 21) %></td>
            <td><%= project_task_interview_form_badge(task.interview_form) %></td>
            <td title="<%= task.expert.latest_work_experience.try(:org_cn) %>"><%= truncate(task.expert.latest_work_experience.try(:org_cn) || '', length: 15)  %></td>
            <td><%= task.expert.name %></td>
            <td><%= task.started_at.strftime('%F %H:%M') %></td>
            <td><%= task.duration %></td>
            <td><%= task.charge_duration %></td>
            <td><%= task.pm.name_cn %></td>
            <td><%= task.pa.name_cn %></td>
        </tr>
    <% end %>
    </tbody>
</table>