<div class="badge badge-danger mb-3 px-4"><%= t(:charge_info) %></div>
<%= project_task_category_badge(@project_task.category) %>
<div class="row border-bottom mb-3" style="position: relative;">
    <%= content_tag :div, nil, :class => 'shade-cover' unless can?(:update, ProjectTask) %>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :expert, mt(:expert) %><span class="text-red">*</span>
        <%= f.text_field :expert_id, :value => @project_task.expert.uid_name, :disabled => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :client, t(:client_contact) %><span class="text-red">*</span>
        <%= f.text_field :client_id, :value => @project_task.client.uid_name, :disabled => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :pm %><span class="text-red">*</span>
        <%= f.text_field :pm_id, :value => @project_task.pm.uid_name, :disabled => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :pa %><span class="text-red">*</span>
        <% if current_user.id == @project_task.pm_id %>
            <% @project = @project_task.project %>
            <%= f.select :pa_id, project_task_pa_options, { :include_blank => false }, :class => 'form-control select2' %>
        <% else %>
            <%= f.text_field :pa_id, :value => @project_task.pa.uid_name, :disabled => true, :class => 'form-control' %>
        <% end %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :interview_form %><span class="text-red">*</span>
        <%= f.select :interview_form, ProjectTask::INTERVIEW_FORM.to_a.map(&:reverse), { :prompt => default_prompt },
                     :required => true, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :started_at %><span class="text-red">*</span>
        <%= f.text_field :started_at, :value => @project_task.started_at.strftime('%F %H:%M'), :required => true, :class => 'form-control datetimepicker' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :expert_level %><span class="text-red">*</span>
        <%= f.select :expert_level, ProjectTask::EXPERT_LEVEL.to_a.map(&:reverse), {}, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :expert_rate %><span class="text-red">*</span>
        <%= f.number_field :expert_rate, :value => @project_task.expert_rate || 1, :min => 0.01, :step => 0.01, :required => true, :readonly => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :duration, mt(:project_task, :duration_min) %><span class="text-red">*</span>
        <%= f.number_field :duration, :value => @project_task.duration || 0, :required => true, :min => 0, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :charge_duration, mt(:project_task, :charge_duration_min) %><span class="text-red">*</span>
        <%= f.number_field :charge_duration, :value => @project_task.charge_duration || 0, :required => true, :min => 0, :class => 'form-control', :placeholder => '用于计算价格' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :f_flag %><span class="text-red">*</span>
        <%= f.select :f_flag, boolean_options, {}, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :base_price %><span class="text-red">*</span>
        <%= f.text_field :base_price, :disabled => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :currency %><span class="text-red">*</span>
        <%= f.text_field :currency, :disabled => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :actual_price %>
        <%= f.number_field :actual_price, :min => 0, :step => 0.01, :class => 'form-control', :placeholder => '不填写则取基础收费' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :is_shorthand %><span class="text-red">*</span>
        <%= f.select :is_shorthand, boolean_options, { :include_blank => false }, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :shorthand_price %>
        <%= f.text_field :shorthand_price, :readonly => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :is_taxed %>
        <%= f.text_field :is_taxed, :disabled => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :tax_rate %>
        <%= text_field_tag :tax_rate, nil, :disabled => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :tax %>
        <%= f.text_field :tax, :disabled => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :is_recorded %><span class="text-red">*</span>
        <%= f.select :is_recorded, boolean_options, { :include_blank => false }, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= f.label :expert_alias %>
        <%= f.text_field :expert_alias, class: 'form-control' %>
    </div>
    <div class="col-lg-9 col-12 form-group">
        <%= f.label :memo %>
        <%= f.text_field :memo, :class => 'form-control' %>
    </div>
</div>

<script>
    $(function(){
        get_expert_rate();
        get_shorthand();
        get_base_price();
    });
    $('#project_task_charge_duration').change(function(){
        get_base_price(); // 计算价格
    });
    $('#project_task_expert_rate').change(function(){
        get_base_price();
    });
    $('#project_task_actual_price').change(function(){
        get_base_price();
    });
    $('#project_task_f_flag').change(function(){
        get_base_price();
    });
    $('#project_task_is_shorthand').change(function(){
        get_shorthand();
        get_base_price();
    });
    $('#project_task_expert_level').change(function(){
        get_expert_rate();
        get_base_price();
    });
    function get_base_price(){
        let expert_rate = $('#project_task_expert_rate').val();
        let charge_duration = $('#project_task_charge_duration').val();
        let f_flag = $('#project_task_f_flag').val();
        let is_shorthand = $('#project_task_is_shorthand').val();
        let base_price = $('#project_task_base_price');
        let shorthand_price = $('#project_task_shorthand_price');
        let currency = $('#project_task_currency');
        let is_taxed = $('#project_task_is_taxed');
        let tax_rate = $('#tax_rate');
        let tax = $('#project_task_tax');
        let actual_price = $('#project_task_actual_price');
        $.ajax({
            type: 'get',
            url: '/project_tasks/' + <%= @project_task.id %> + '/get_base_price',
            data: { duration: charge_duration, expert_rate: expert_rate, f: f_flag, is_shorthand: is_shorthand },
            async: false,
            dataType: 'json',
            success: function(data){
                base_price.val(data.price);
                if(shorthand_price.val() == 0){
                    shorthand_price.val(data.shorthand_price);
                }
                currency.val(data.currency);
                is_taxed.val(data.is_taxed);
                tax_rate.val(data.tax_rate);
                tax.val(((parseFloat(actual_price.val()) || parseFloat(base_price.val())) + parseFloat(data.shorthand_price)) * parseFloat(tax_rate.val()));
            }
        })
    }

    function get_expert_rate(){
        let expert_level = $('#project_task_expert_level')[0];
        let expert_rate = $('#project_task_expert_rate')[0];
        if(expert_level.value === 'standard'){
            expert_rate.readOnly = true;
            expert_rate.value = 1;
        }else if(expert_level.value === 'premium'){
            expert_rate.readOnly = false;
        }
        // get_base_price();
    }
    function get_shorthand(){
        let is_shorthand = $('#project_task_is_shorthand')[0];
        let shorthand_price = $('#project_task_shorthand_price')[0];
        if(is_shorthand.value === 'true') {
            shorthand_price.readOnly = false;
        } else {
            shorthand_price.readOnly = true;
            shorthand_price.value = 0;
        }
    }
</script>