<div class="row">
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :email, mt(:user, :email) %>
        <%= f.text_field :email, :disabled => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :name_cn, mt(:user, :name_cn) %><span class="text-red">*</span>
        <%= f.text_field :name_cn, :required => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :name_en, mt(:user, :name_en) %>
        <%= f.text_field :name_en, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :title, mt(:user, :title) %>
        <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :phone, mt(:user, :phone) %>
        <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :date_of_birth, mt(:user, :date_of_birth) %>
        <%= f.text_field :date_of_birth, :value => @user.date_of_birth.try(:strftime, '%F'), :class => 'form-control datepicker' %>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :role, mt(:user, :role) %><span class="text-red">*</span>
        <%= f.select :role, user_role_options, { :include_blank => false }, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :status, mt(:user, :status) %><span class="text-red">*</span>
        <%= f.select :status, user_status_options, { :include_blank => false }, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :candidate_access_limit, mt(:user, :candidate_access_limit) %><span class="text-red">*</span>
        <%= f.number_field :candidate_access_limit, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :date_of_employment, mt(:user, :date_of_employment) %>
        <%= f.text_field :date_of_employment, :value => @user.date_of_employment.try(:strftime, '%F'), :class => 'form-control datepicker' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :date_of_resignation, mt(:user, :date_of_resignation) %>
        <%= f.text_field :date_of_resignation, :value => @user.date_of_resignation.try(:strftime, '%F'), :class => 'form-control datepicker' %>
    </div>
</div>