<div class="card">
    <div class="card-header">
        <h5><%= fa_icon_tag('user') %> <%= t(:my_account) %> - <%= "#{t('action.edit_model', :model => mt(:user, :password))}" %></h5>
        <%= link_to fa_icon_tag('close'), my_account_users_path, :class => 'card-header-close' %>
    </div>

    <div class="card-body">
        <%= form_tag edit_my_password_users_path, :method => :put do %>
            <div class="row d-block">
                <div class="col-lg-3 col-6 form-group">
                    <%= label_tag :current_password, mt(:user, :current_password) %><span class="text-red">*</span>
                    <%= password_field_tag :current_password, nil, :required => true, :class => 'form-control' %>
                </div>
                <div class="col-lg-3 col-6 form-group">
                    <%= label_tag :new_password, mt(:user, :new_password) %><span class="text-red">*</span>
                    <%= password_field_tag :password, nil, :required => true, :class => 'form-control' %>
                </div>
                <div class="col-lg-3 col-6 form-group">
                    <%= label_tag :password_confirmation, mt(:user, :password_confirmation) %><span class="text-red">*</span>
                    <%= password_field_tag :password_confirmation, nil, :required => true, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group mb-0">
                <%= submit_tag t('action.submit'), :class => 'btn btn-submit' %>
                <%= link_to t('action.back'), my_account_users_path, :class => 'btn btn-back' %>
            </div>
        <% end %>
    </div>
</div>
