<div class="card">
    <div class="card-header">
        <h5><%= fa_icon_tag('user') %> <%= t(:my_account) %></h5>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex flex-column flex-lg-row justify-content-between">
                <h6>
                    <span class="text-gray mr-3"><%= "# #{@user.uid}" %></span>
                </h6>
                <div class="btn-group btn-group-sm">
                    <%= link_to edit_my_user_channel_users_path, :class => 'btn btn-default' do %>
                        <%= fa_icon_tag('edit') %> <%= t('action.edit_model', :model => mt(:user_channel)) %>
                    <% end if current_user.su? %>
                    <%= link_to edit_my_password_users_path, :class => 'btn btn-success' do %>
                        <%= fa_icon_tag('edit') %> <%= t('action.edit_model', :model => mt(:user, :password)) %>
                    <% end %>
                    <%= link_to edit_my_account_users_path, :class => 'btn btn-dark' do %>
                        <%= fa_icon_tag('edit') %> <%= t('action.edit_model', :model => t(:my_account)) %>
                    <% end %>
                </div>
            </div>
        </div>

        <%= render :partial => 'show_content' %>
    </div>
</div>
