<% activate_sidebar %>
<header class="header">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <%= link_to 'CRM', root_path, :class => 'navbar-brand' %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to t(:homepage), root_path, :class => "nav-link #{yield :nav_home}" %>
                </li>
                <% if can? :index, Candidate %>
                    <li class="nav-item">
                        <%= link_to mt(:expert), candidates_path, :class => "nav-link #{yield :nav_candidates}" %>
                    </li>
                <% end %>
                <% if can? :index, Company %>
                    <li class="nav-item">
                        <%= link_to mt(:company), companies_path, :class => "nav-link #{yield :nav_companies}" %>
                    </li>
                <% end %>
                <% if can? :index, Project %>
                    <li class="nav-item">
                        <%= link_to mt(:project), projects_path, :class => "nav-link #{yield :nav_projects}" %>
                    </li>
                <% end %>
                <% if can? :index, User %>
                    <li class="nav-item">
                        <%= link_to mt(:user), users_path, :class => "nav-link #{yield :nav_users}" %>
                    </li>
                <% end %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="settings-drop" data-toggle="dropdown">
                        <%= t(:settings) %>
                    </a>
                    <div class="dropdown-menu fa-fixed">
                        <%= link_to location_data_path, :class => 'dropdown-item' do %>
                            <%= fa_icon_tag('location-arrow') %> <%= mt(:location_datum) %>
                        <% end %>
                        <%= link_to my_account_users_path, :class => 'dropdown-item' do %>
                            <%= fa_icon_tag('user') %> <%= t(:my_account) %>
                        <% end %>
                        <div class="dropdown-divider"></div>
                        <%= link_to destroy_user_session_path, :method => :delete, :data => { :confirm => t(:sure_to_logout) }, :class => 'dropdown-item' do %>
                            <i class="fa fa-sign-out"></i> <%= t('action.quit') %>
                        <% end if signed_in? %>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>