<div id="<%= "_work_exp_#{exp.id}" %>" class="row border-bottom border-gray-500 mb-3">
    <%= link_to '&times;'.html_safe, 'javascript:void(0);', :onclick => "$('#_work_exp_#{exp.id}').remove();",
                :class => 'btn btn-danger btn-sm p-1 exp-del-btn' %>
    <div class="col-12 col-lg-6">
        <div class="row">
            <div class="col-6">
                <div class="input-group input-group-sm input-group-align mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><%= mt(:candidate_experience, :started_at) %><sup class="text-red">*</sup></span>
                    </div>
                    <%= text_field_tag :"_work_exp[#{exp.id}][started_at]", exp.started_at.try(:strftime, '%F'), :required => true, :class => 'form-control datepicker' %>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group input-group-sm input-group-align mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><%= mt(:candidate_experience, :ended_at) %></span>
                    </div>
                    <%= text_field_tag :"_work_exp[#{exp.id}][ended_at]", exp.ended_at.try(:strftime, '%F'), :class => 'form-control datepicker' %>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group input-group-sm input-group-align mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><%= mt(:candidate_experience, :org_cn) %><sup class="text-red">*</sup></span>
                    </div>
                    <%= text_field_tag :"_work_exp[#{exp.id}][org_cn]", exp.org_cn, :required => true, :class => 'form-control' %>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group input-group-sm input-group-align mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><%= mt(:candidate_experience, :org_en) %></span>
                    </div>
                    <%= text_field_tag :"_work_exp[#{exp.id}][org_en]", exp.org_en, :class => 'form-control' %>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group input-group-sm input-group-align mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><%= mt(:candidate_experience, :department) %></span>
                    </div>
                    <%= text_field_tag :"_work_exp[#{exp.id}][department]", exp.department, :class => 'form-control' %>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group input-group-sm input-group-align mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><%= mt(:candidate_experience, :title) %></span>
                    </div>
                    <%= text_field_tag :"_work_exp[#{exp.id}][title]", exp.title, :class => 'form-control' %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="input-group input-group-sm input-group-align mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><%= mt(:candidate_experience, :description) %></span>
            </div>
            <%= text_area_tag :"_work_exp[#{exp.id}][description]", exp.description, :class => 'form-control', :rows => 3 %>
        </div>
    </div>
</div>