<div class="badge badge-info mb-3 px-4"><%= t(:work_experience) %></div>
<div id="work_exp_wrapper">
    <% if %w[edit update].include?(action_name) %>
        <% @candidate.experiences.work.each do |exp| %>
            <%= render :partial => 'form_work_exp_unit_edit', :locals => { :exp => exp } %>
        <% end %>
    <% end %>

    <% work_exps.each do |key, val| %>
        <%= render :partial => 'form_work_exp_unit_new', :locals => { :i => key } %>
    <% end %>
</div>

<div id="new_work_experience" class="row border-bottom mb-3">
    <div class="col-12">
        <%= link_to add_experience_candidates_path, :remote => true,
                    :class => 'btn btn-success btn-sm mb-3 exp-add-btn' do %>
            <i class="fa fa-plus"></i> <%= t('action.add', :model => nil) %>
        <% end %>
    </div>
</div>