<%= model_error_tag(@candidate) %>
<div class="badge badge-info mb-3 px-4"><%= t(:base_info) %></div>
<div class="row border-bottom mb-3">

    <div class="col-12 form-group">
        <span class="badge badge-primary"><%= show_candidate_category %></span>
        <span class="badge badge-warning"><%= show_candidate_data_source %></span>
        <span class="badge badge-light"><%= show_creator(@candidate) %></span>
        <span class="badge badge-light"><%= show_timestamps(@candidate) %></span>
    </div>

    <div class="col-lg-3 col-6 form-group">
        <%= f.label :last_name, mt(:candidate, :name) %><span class="text-red">*</span>
        <div class="form-group-range">
            <div class="form-group-range-input">
                <%= f.text_field :last_name, :required => true, :class => 'form-control', :placeholder => "#{mt(:candidate, :last_name)}*" %>
            </div>
            <div class="form-group-range-input">
                <%= f.text_field :first_name, :class => 'form-control', :placeholder => mt(:candidate, :first_name) %>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :gender %>
        <%= f.select :gender, Candidate::GENDER.to_a.map(&:reverse), { :include_blank => false }, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :date_of_birth %>
        <%= f.text_field :date_of_birth, :value => @candidate.date_of_birth.try(:strftime, '%F') ,:class => 'form-control datepicker', :placeholder => 'yyyy-mm-dd' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :phone %><span class="text-red">*</span>
        <%= f.text_field :phone, :required => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :phone1 %>
        <%= f.text_field :phone1, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :city %><span class="text-red">*</span>
        <%= f.text_field :city, :required => true, :class => 'form-control autocomplete-city' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :industry %><span class="text-red">*</span>
        <%= f.select :industry, industry_options, { :include_blank => default_prompt }, :required => true, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :email %><span class="text-red">*</span>
        <%= f.email_field :email, :required => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :email1 %>
        <%= f.email_field :email1, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :wechat %>
        <%= f.text_field :wechat, :class => 'form-control' %>
    </div>
</div>

<div class="row border-bottom mb-3">
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :is_available %><span class="text-red">*</span>
        <%= f.select :is_available, candidate_is_available_options, { :include_blank => false }, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :cpt %><span class="text-red">*</span>
        <%= f.number_field :cpt, :required => true, :min => 0, :step => 1, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :currency %><span class="text-red">*</span>
        <%= f.select :currency, currency_options, { :include_blank => false }, :class => 'form-control select2' %>
    </div>
    <div class="col-12 form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :class => 'form-control', :rows => 4 %>
    </div>
</div>

<script>
    $('.autocomplete-city').autocomplete({ source: '/location_data/autocomplete_city.json', delay: 500 });
</script>

<style>
  .mobile-location{
      position: absolute;
      font-size: 12px;
  }
</style>