<div id="<%= "_work_exp_#{exp.id}" %>" class="row border-bottom border-gray-500 mb-3">
    <%= link_to '&times;'.html_safe, 'javascript:void(0);', :onclick => "$('#_work_exp_#{exp.id}').remove();",
                :class => 'btn btn-danger btn-sm p-1 exp-del-btn' %>
    <div class="col-lg-3 col-12 form-group">
        <%= label_tag :duration, mt(:candidate_experience, :duration) %><span class="text-red">*</span>
        <div class="form-group-range">
            <div class="form-group-range-input">
                <%= text_field_tag :"_work_exp[#{exp.id}][started_at]", exp.started_at.try(:strftime, '%F'),
                                   :required => true, :class => 'form-control datepicker', :placeholder => "#{t(:begin)}*" %>
            </div>
            <span class="form-group-range-divider">
                <i class="fa fa-arrow-right"></i>
            </span>
            <div class="form-group-range-input">
                <%= text_field_tag :"_work_exp[#{exp.id}][ended_at]", exp.ended_at.try(:strftime, '%F'),
                                   :class => 'form-control datepicker', :placeholder => t(:end) %>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= label_tag :org_cn, mt(:candidate_experience, :org_cn) %><span class="text-red">*</span>
        <%= text_field_tag :"_work_exp[#{exp.id}][org_cn]", exp.org_cn, :required => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= label_tag :org_en, mt(:candidate_experience, :org_en) %>
        <%= text_field_tag :"_work_exp[#{exp.id}][org_en]", exp.org_en, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-12 form-group">
        <%= label_tag :title, mt(:candidate_experience, :title) %>
        <%= text_field_tag :"_work_exp[#{exp.id}][title]", exp.title, :class => 'form-control' %>
    </div>
    <div class="col-12 form-group">
        <%= label_tag :description, mt(:candidate_experience, :duty) %>
        <%= text_area_tag :"_work_exp[#{exp.id}][description]", exp.description, :class => 'form-control', :rows => 3 %>
    </div>
</div>