<div class="card px-5 py-3 mb-2">
    <div class="row">
        <div class="col-lg-4 d-flex flex-column text-center text-md-left">
            <div class="d-flex flex-column flex-lg-row align-items-center mb-3">
                <div class="candidate-checkbox">
                    <%= check_box_tag :'uids[]', candidate.id, false, :class => 'checkbox-square' %>
                </div>
                <div class="text-center mr-3 mb-1 mb-lg-0">
                    <span class="text-smaller text-gray"><%= "# #{ candidate.uid }" %></span>
                </div>
                <div class="text-center mr-3 mb-1 mb-lg-0">
                    <h6 class="mb-0">
                        <span class="status <%= candidate.is_available ? 'valid' : 'invalid' %> mr-2"></span>
                        <%= link_to candidate_path(candidate) do %>
                            <span><%= candidate.name %></span>
                            <span class="d-lg-none">(<%= candidate.nickname %>)</span>
                        <% end %>
                    </h6>
                </div>
                <div class="text">
                    <span class="text-smaller mr-1 text-light roundy px-2 py-1 <%= cps_bg(candidate.cpt) %>"><%= "¥#{candidate.cpt}" %></span>
                    <span class="text-gray mr-1">/</span>
                    <span class="text-smaller mr-1"><%= candidate.city %></span>
                    <span class="text-gray mr-1">/</span>
                    <span class="text-smaller mr-1"><%= candidate.phone %></span>
                </div>
            </div>

            <div class="d-flex flex-column text-left">
                <% candidate.experiences.work.order(:started_at => :desc).limit(3).each do |exp| %>
                    <div class="text mb-1">
                        <span class="text-gray mr-1"><%= exp.started_at.strftime('%F') %></span>
                        <span><%= hl(exp.org_cn, params[:term]) %></span>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center flex-column text-left">
            <div class="my-3 my-lg-0 text text-limit-length" style="height: 100px;">
                <%= hl(candidate.description, params[:term]) %>
            </div>
        </div>
        <div class="col-lg-4 d-flex flex-column text-left">
            <div class="text mb-3">
                <span>访谈次数： </span>
                <span><%= candidate.project_tasks.interview.count %></span>，
                <span>最近访谈时间： </span>
                <span><%= candidate.project_tasks.interview.maximum(:started_at).try(:strftime, '%F %H:%M') %></span>
            </div>
            <% candidate.project_tasks.interview.order(:started_at => :desc).limit(3).each do |task| %>
                <div class="text mb-1">
                    <span class="text-gray mr-1"><%= "#{task.started_at.strftime('%F %H:%M')} ~ #{task.ended_at.try(:strftime, '%F %H:%M')}" %></span>
                    <span>费率： N/A</span>
                </div>
            <% end %>
        </div>
    </div>
</div>