<% @candidates.each do |candidate| %>

<div id="cid_<%= candidate.id %>" class="card card-candidate mb-1">
    <div class="row">
        <div class="col-lg-4 d-flex flex-column text-center text-md-left">
            <div class="d-flex flex-column flex-lg-row align-items-center mb-1">
                <div class="candidate-checkbox">
                    <%= check_box_tag :'uids[]', candidate.id, false, :class => 'checkbox-square' %>
                </div>
                <div class="text-center mr-3 mb-1 mb-lg-0">
                    <span class="text-smaller text-gray"><%= "# #{ candidate.uid }" %></span>
                </div>
                <div class="text-center mr-3 mb-1 mb-lg-0">
                    <div class="dropdown d-inline mr-2">
                        <a class="status <%= candidate_is_available_status(candidate.is_available) %>" href="#" role="button" id="cia_<%= candidate.id %>" data-toggle="dropdown"></a>
                        <div class="dropdown-menu">
                            <div class="dropdown-header"><%= mt(:candidate, :is_available) %></div>
                            <%= link_to t(:true),    update_is_available_candidate_path(candidate, is_available: true),  :method => :put, :remote => true, :class => 'dropdown-item status valid' %>
                            <%= link_to t(:pending), update_is_available_candidate_path(candidate, is_available: nil),   :method => :put, :remote => true, :class => 'dropdown-item status pending' %>
                            <%= link_to t(:false),   update_is_available_candidate_path(candidate, is_available: false), :method => :put, :remote => true, :class => 'dropdown-item status invalid' %>
                        </div>
                    </div>
                    <%= link_to candidate_path(candidate), :target => '_blank' do %>
                        <span><%= candidate.name %></span>
                    <% end %>
                </div>

            </div>

            <div class="d-flex flex-column mb-1">
                <div class="text-smaller">
                    <span class="mr-1 text-light roundy px-1 py-0 <%= cps_bg(candidate.cpt) %>"><%= "#{currency_symbol(candidate.currency)}#{candidate.cpt}" %></span>
                    <span class="text-gray mr-1">/</span>
                    <span class="mr-1"><%= candidate.city || '-' %></span>
                    <span class="text-gray mr-1">/</span>
                    <%= content_tag :span, :id => "show_phone_wrapper_#{candidate.id}", :class => 'mr-1' do %>
                        <%= link_to '查看联系方式', show_phone_candidate_path(candidate), :remote => true %>
                    <% end %>
                </div>
            </div>

            <div class="d-flex flex-column text-left">
                <% candidate.experiences.work.order(:started_at => :desc).limit(3).each do |exp| %>
                    <div class="text-smaller">
                        <span class="text-gray mr-1"><%= exp.friendly_timestamp('%Y-%m') %></span>
                        <span class="mr-1" title="<%= exp.org_cn %>"><%= hl(truncate(exp.org_cn, length: 11), @hl_words) %></span>
                        <span title="<%= exp.title %>"><%= hl(truncate(exp.title, length: 9), @hl_words) %></span>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center flex-column text-left">
            <div class="my-3 my-lg-0 text-smaller" title="<%#= candidate.description %>">
                <%= hl(truncate(candidate.description, length: 150), @hl_words) %>
            </div>
        </div>
        <div class="col-lg-4 d-flex flex-column text-left">
            <div class="text-smaller mb-2">
                <span>访谈次数： </span>
                <span><%= normal_project_task_count(candidate) %></span>，
                <span>最近访谈时间： </span>
                <span><%= user_channel_filter(candidate.project_tasks.where(status: 'finished')).maximum(:started_at).strftime('%F %H:%M') rescue nil %></span>
            </div>
            <% candidate.comments.where(category: 'general').order(is_top: :desc, created_at: :desc).limit(3).each do |comment| %>
                <div class="text-smaller" title="<%= comment.content %>">
                    <span class="text-gray mr-1"><%= comment.created_at.strftime('%F') %></span>
                    <span>[<%= comment.creator.name_cn %>]</span>
                    <span><%= content_tag(:i, nil, :class => 'fa fa-flag text-red') if comment.is_top? %><%= hl(truncate(comment.content, length: 20), @hl_words) %></span>
                </div>
            <% end %>
            <div class="text-smaller">
                <%= link_to new_candidate_comment_path(candidate_id: candidate.id, return_to: "#{request.url}#cid_#{candidate.id}") do %>
                    <%= t('action.add_model', model: mt(:candidate_comment)) %>
                <% end if can?(:new, CandidateComment) %>
            </div>
        </div>
    </div>
</div>

<% end %>
<%= will_paginate @candidates %>