<div class="card">
    <div class="card-header">
        <h5><i class="fa fa-tags"></i> <%= mt(:candidate_comment, :feedback) %></h5>
        <%= link_to fa_icon_tag('close'), candidate_path(@candidate), :class => 'card-header-close' %>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex flex-column flex-lg-row justify-content-between">
                <h6>
                    <span class="text-gray mr-3"><%= "# #{@candidate.uid}" %></span>
                    <span><%= @candidate.last_name %> <%= @candidate.first_name %></span>
                </h6>
                <div class="btn-group btn-group-sm">
                    <%= link_to new_feedback_candidate_comments_path(candidate_id: @candidate.id, return_to: request.path), :class => 'btn btn-primary' do %>
                        <%= fa_icon_tag('plus') %> <%= t('action.add') %>
                    <% end if can?(:new_feedback, CandidateComment) %>
                </div>
            </div>
        </div>

        <div class="candidate-comment-group-sm my-3">
            <% @candidate_comments.each do |comment| %>
                <div class="candidate-comment-unit">
                    <div class="content">
                        <%= link_to activate_feedback_candidate_comment_path(comment), method: :post, remote: true do %>
                            <%= content_tag :i, nil, class: comment.is_active? ? 'fa fa-toggle-on text-success' : 'fa fa-toggle-off text-secondary', data: { class: 'feedback-active', id: comment.id } %>
                        <% end %>
                        <%= comment.content %>
                    </div>
                    <div class="timestamp">
                        <span class="badge badge-light"><%= show_creator(comment) %></span>
                        <span class="badge badge-light"><%= show_timestamps(comment) %></span>
                        <% if can?(:edit_feedback, CandidateComment) %>
                            <%= link_to t('action.edit'), edit_feedback_candidate_comment_path(comment, return_to: request.path), :class => 'btn btn-link btn-xs' %>
                            <%= link_to t('action.delete'), candidate_comment_path(comment, return_to: request.path), :method => :delete, :class => 'btn btn-link btn-xs',
                                        :data => { :confirm => t(:sure_to_delete)} %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <%= will_paginate @candidate_comments %>
    </div>
</div>