<div class="card">
    <div class="card-header">
        <h5><%= fa_icon_tag('user-circle') %> <%= t('action.edit_model', :model => mt(:expert)) %></h5>
        <%= link_to fa_icon_tag('close'), candidates_path, :class => 'card-header-close' %>
    </div>

    <div class="card-body">
        <%= form_for @candidate do |f| %>
            <%= render :partial => 'form', :locals => { :f => f } %>
            <%= render :partial => 'form_work_exp' %>

            <div class="form-group mb-0">
                <%= f.submit t('action.save'), :class => 'btn btn-primary' %>
                <%= link_to t('action.back'), candidates_path,:class => 'btn btn-secondary' %>
            </div>
        <% end %>
    </div>
</div>
<script>
//    addCandidatePhone();
//    addCandidateEmail();
</script>