<section class="mb-2">
    <div class="row">
        <div class="col-12 mb-0">
            <div class="card p-2 d-block">
                <%= link_to new_candidate_path, :class => 'btn btn-primary' do %>
                    <i class="fa fa-user-circle"></i> <%= "#{t('action.new', :model => mt(:expert))}" %>
                <% end %>

                <%= link_to '', :class => 'btn btn-secondary', :onclick => 'genCandidateCard();' do %>
                    <i class="fa fa-drivers-license-o"></i> <%= t(:candidate_card) %>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <% if @candidates.any? %>
            <% @candidates.each do |candidate| %>
                <%= render :partial => 'list_unit', :locals => { :candidate => candidate } %>
            <% end %>
            <%= will_paginate @candidates %>
        <% else %>
            <div class="col-12 mb-0">
                <div class="card p-2">
                    <div class="p-4 text-center">
                        <h5 class="text-gray"><%= t(:not_found) %></h5>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <%= render :partial => 'search_modal' %>
</section>