<div class="card p-2 d-flex flex-row mb-2 justify-content-between">
    <div>
        <%= link_to new_candidate_path, :class => 'btn btn-primary' do %>
            <%= fa_icon_tag('plus') %> <%= "#{t('action.new_model', :model => mt(:expert))}" %>
        <% end %>
        <%= render :partial => 'candidates/widgets/btn_import_expert' %>

        <%= link_to '', :class => 'btn btn-default', :onclick => 'cardTemplate();' do %>
            <%= fa_icon_tag('drivers-license-o') %> <%= t(:expert_card) %>
        <% end %>

        <%= link_to '', :class => 'btn btn-default', :onclick => 'addExpertToProject();' do %>
            <%= fa_icon_tag('map') %> <%= t(:add_to_project) %>
        <% end %>
    </div>
    <%= render :partial => 'candidates/widgets/search_modal' %>
</div>

<% if @candidates.any? %>
    <% @candidates.each do |candidate| %>
        <%= render :partial => 'list_unit', :locals => { :candidate => candidate } %>
    <% end %>
    <%= will_paginate @candidates %>
<% else %>
    <div class="card p-2">
        <div class="p-4 text-center">
            <h5 class="text-gray mb-0"><%= t(:not_found) %></h5>
        </div>
    </div>
<% end %>

<%= hidden_field_tag :from_source, params[:from_source] %>
<%= hidden_field_tag :project_id, params[:project_id] %>