<div class="card">
    <div class="card-header d-flex flex-row justify-content-between">
        <h5 class="text-uppercase mb-0">
            <i class="fa fa-user-circle"></i>
            <%= t('action.new', :model => mt(:expert)) %>
        </h5>
        <%= link_to fa_icon_tag('close'), candidates_path, :class => 'h5 mb-0 text-decoration-none text-dark' %>
    </div>

    <div class="card-body">
        <%= form_for @candidate do |f| %>
            <%= render :partial => 'form', :locals => { :f => f } %>
            <%= render :partial => 'form_work_exp' %>

            <div class="form-group mb-0">
                <%= f.submit t('action.submit'), :class => 'btn btn-submit' %>
                <%= link_to t('action.back'), candidates_path,:class => 'btn btn-back' %>
            </div>
        <% end %>
    </div>
</div>
<script>
//    delCandidatePhone();
//    delCandidateEmail();
</script>
