<%= model_error_tag(@project) %>

<div class="row">
    <div class="col-12 form-group">
        <span class="badge badge-light"><%= show_creator(@project) %></span>
        <span class="badge badge-light"><%= show_timestamps(@project) %></span>
    </div>

    <div class="col-12 form-group input-group input-group-sm input-group-align">
        <div class="input-group-prepend">
            <span class="input-group-text"><%= mt(:project, :company) %><sup class="text-red">*</sup></span>
        </div>
        <%= f.select :company_id, @signed_company_options, { :prompt => default_prompt }, :class => 'form-control',
                     :disabled => (action_name == 'edit') %>
    </div>
    <div class="col-lg-6 col-12 form-group input-group input-group-sm input-group-align">
        <div class="input-group-prepend">
            <span class="input-group-text"><%= mt(:project, :name) %><sup class="text-red">*</sup></span>
        </div>
        <%= f.text_field :name, :required => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-6 col-12 form-group input-group input-group-sm input-group-align">
        <div class="input-group-prepend">
            <span class="input-group-text"><%= mt(:project, :code) %><sup class="text-red">*</sup></span>
        </div>
        <%= f.text_field :code, :required => true, :class => 'form-control' %>
    </div>
</div>