<%= model_error_tag(@project) %>

<div class="row">
    <div class="col-12 form-group">
        <span class="badge badge-light"><%= show_creator(@project) %></span>
        <span class="badge badge-light"><%= show_timestamps(@project) %></span>
    </div>

    <div class="col-lg-4 col-12 form-group">
        <%= f.label :company_id, mt(:project, :company) %><span class="text-red">*</span>
        <% if %w[new create].include?(action_name) %>
            <%= f.select :company_id, @signed_company_options, { :prompt => default_prompt }, :class => 'form-control select2' %>
        <% else %>
            <%= text_field_tag :company_id, @project.company.name, :disabled => true, :class => 'form-control' %>
        <% end %>
    </div>
    <div class="col-lg-4 col-12 form-group">
        <%= f.label :name, mt(:project, :name) %><span class="text-red">*</span>
        <%= f.text_field :name, :required => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-4 col-12 form-group">
        <%= f.label :code, mt(:project, :code) %><span class="text-red">*</span>
        <%= f.text_field :code, :required => true, :class => 'form-control' %>
    </div>
</div>