<div class="card">
    <div class="card-header">
        <h5><%= fa_icon_tag('map') %> <%= t(:add_to_project) %></h5>
        <%= link_to fa_icon_tag('close'), 'javascript:history.go(-1);', :class => 'card-header-close' %>
    </div>

    <div class="card-body">
        <%= form_tag add_experts_projects_path, :method => :put do %>
            <% params[:uids].each do |uid| %>
                <%= hidden_field_tag :'uids[]', uid %>
            <% end %>

            <div class="row">
                <div class="col-12 form-group">
                    <span class="badge badge-light"><%= "选择了#{params[:uids].length}位专家" %></span>
                </div>
                <div class="col-12 form-group">
                    <%= label_tag :project_id, mt(:project) %><span class="text-red">*</span>
                    <%= select_tag :project_id, options_for_select(@project_options, params[:project_id]),
                                   :prompt => default_prompt, :required => true, :class => 'form-control select2' %>
                </div>
                <div class="col-12 form-group justify-content-end mb-0">
                    <%= submit_tag t('action.submit'), :class => 'btn btn-submit' %>
                    <%= link_to t('action.back'), 'javascript:history.go(-1);', :class => 'btn btn-back' %>
                </div>
            </div>
        <% end %>
    </div>
</div>