<div class="card">
    <div class="card-header">
        <h5><%= fa_icon_tag('map') %> <%= t('action.add_model', :model => t(:client_contact)) %></h5>
        <%= link_to fa_icon_tag('close'), project_path(@project), :class => 'card-header-close' %>
    </div>

    <div class="card-body">
        <%= form_tag request.path, :method => :get do %>
            <div class="row">
                <div class="col-2 form-group">
                    <%= link_to new_client_company_path(@project.company, return_to: request.path), :class => 'btn btn-primary btn-form-control w-100' do %>
                        <%= fa_icon_tag('plus') %> <%= t('action.new_model', :model => t(:client_contact)) %>
                    <% end if can?(:manage, Project) %>
                </div>
                <div class="col-2 form-group">
                    <%= text_field_tag :name, params[:name], :class => 'form-control', :placeholder => mt(:candidate, :name) %>
                </div>
                <div class="col-2 form-group">
                    <%= text_field_tag :nickname, params[:nickname], :class => 'form-control', :placeholder => mt(:candidate, :nickname) %>
                </div>
                <div class="col-2 form-group">
                    <%= text_field_tag :phone, params[:phone], :class => 'form-control', :placeholder => mt(:candidate, :phone) %>
                </div>
                <div class="col-2 form-group">
                    <%= text_field_tag :email, params[:email], :class => 'form-control', :placeholder => mt(:candidate, :email) %>
                </div>
                <div class="col-2 form-group">
                    <%= button_tag :type => 'submit', :class => 'btn btn-default btn-form-control w-100' do %>
                        <%= fa_icon_tag('search') %> <%= content_tag :span, t('action.search'), :class => 'd-lg-inline d-none' %>
                    <% end %>
                </div>
            </div>
        <% end %>

        <%= form_tag add_clients_project_path(@project), :method => :put do %>
        <table class="table table-sm table-striped border card-text">
            <thead>
            <tr>
                <th>#</th>
                <th><%= mt(:candidate, :id) %></th>
                <th><%= mt(:candidate, :name) %></th>
                <th><%= mt(:candidate, :nickname) %></th>
                <th><%= mt(:candidate, :client_alias) %></th>
                <th><%= mt(:candidate, :title) %></th>
                <th><%= mt(:candidate, :phone) %></th>
                <th><%= mt(:candidate, :email) %></th>
                <th><%= mt(:candidate, :job_status) %></th>
                <th><%= mt(:candidate, :created_at) %></th>
                <th><%= t(:memo) %></th>
                <th><%= t(:operation) %></th>
            </tr>
            </thead>
            <tbody>
            <% client_ids = @project.clients.ids %>
            <% @clients.each do |client| %>
                <tr>
                    <td><%= check_box_tag :'uids[]', client.id, client_ids.include?(client.id) %></td>
                    <% client_ids.delete(client.id) %>
                    <td><%= content_tag :span, "# #{client.uid}", :class => 'text-gray' %></td>
                    <td><%= client.name %></td>
                    <td><%= client.nickname %></td>
                    <td><%= client.client_alias %></td>
                    <td><%= client.title %></td>
                    <td><%= client.phone %></td>
                    <td><%= client.email %></td>
                    <td><%= candidate_job_status_badge(client.job_status) %></td>
                    <td><%= client.created_at.strftime('%F %T') %></td>
                    <td>
                        <%= link_to t(:memo), comments_client_candidate_path(client, return_to: request.path) %>
                        <%= count_badge(client.comments.count) %>
                    </td>
                    <td><%= link_to t('action.edit'), edit_client_candidate_path(client, return_to: request.path), :class => 'btn btn-edit btn-xs' %></td>
                </tr>
            <% end %>
            <% client_ids.each do |client_id| %>
                <%= check_box_tag :'uids[]', client_id, true, :class => 'd-none' %>
            <% end %>
            <tr>
                <td colspan="11" align="center">
                    <%= link_to new_client_company_path(@project.company, return_to: request.path), :class => 'btn btn-primary btn-xs' do %>
                        <%= fa_icon_tag('plus') %> <%= t('action.new_model', :model => t(:client_contact)) %>
                    <% end if can?(:manage, Project) %>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="form-group mb-0">
            <%= submit_tag t('action.submit'), :class => 'btn btn-primary' %>
            <%= link_to t('action.back'), project_path(@project), :class => 'btn btn-secondary' %>
        </div>
        <% end %>
    </div>
</div>