<div class="card">
    <div class="card-header">
        <h5><%= fa_icon_tag('map') %> <%= t('action.add_model', :model => mt(:project_task)) %></h5>
        <%= link_to fa_icon_tag('close'), return_to(project_path(@project)), :class => 'card-header-close' %>
    </div>

    <div class="card-body">
        <%= form_for @project_task, :url => add_project_task_project_path(@project, return_to: params[:return_to]), :method => :put do |f| %>
            <%= model_error_tag(@project_task) %>

            <div class="row">
                <div class="col-12 form-group">
                    <span class="badge badge-light"><%= show_creator(@project_task) %></span>
                    <span class="badge badge-light"><%= show_timestamps(@project_task) %></span>
                </div>

                <div class="col-lg-3 col-12 form-group">
                    <%= f.label :category %><span class="text-red">*</span>
                    <%= f.select :category, project_task_category_options, { :include_blank => false }, :class => 'form-control select2' %>
                </div>
                <div class="col-lg-3 col-12 form-group">
                    <%= f.label :expert, mt(:expert) %><span class="text-red">*</span>
                    <%= f.select :expert_id, project_task_expert_options, { :prompt => default_prompt },
                                 :required => true, :class => 'form-control select2' %>
                    <%= hidden_field_tag :expert_info, nil %>
                </div>
                <div class="col-lg-3 col-12 form-group">
                    <%= f.label :client, t(:client_contact) %><span class="text-red">*</span>
                    <%= f.select :client_id, project_task_client_options, { :prompt => default_prompt },
                                 :required => true, :class => 'form-control select2' %>
                </div>
                <!--
                <div class="col-lg-3 col-12 form-group">
                    <%#= f.label :pm %><span class="text-red">*</span>
                    <%#= f.select :pm_id, project_task_pm_options, { :include_blank => false }, :class => 'form-control select2' %>
                </div>
                -->
                <div class="col-lg-3 col-12 form-group">
                    <%= f.label :pa %><span class="text-red">*</span>
                    <%= f.select :pa_id, project_task_pa_options, { :include_blank => false }, :class => 'form-control select2' %>
                </div>
                <div class="col-lg-3 col-12 form-group">
                    <%= f.label :interview_form %><span class="text-red">*</span>
                    <%= f.select :interview_form, ProjectTask::INTERVIEW_FORM.to_a.map(&:reverse), { :prompt => default_prompt },
                                 :required => true, :class => 'form-control select2' %>
                </div>
                <div class="col-lg-3 col-12 form-group">
                    <%= f.label :started_at %><span class="text-red">*</span>
                    <%= f.text_field :started_at, :required => true, :class => 'form-control datetimepicker' %>
                </div>
                <div class="col-lg-3 col-12 form-group">
                    <%= f.label :expert_level %><span class="text-red">*</span>
                    <%= f.select :expert_level, ProjectTask::EXPERT_LEVEL.to_a.map(&:reverse), {}, :class => 'form-control select2' %>
                </div>
                <div class="col-lg-3 col-12 form-group">
                    <%= f.label :expert_rate %><span class="text-red">*</span>
                    <%= f.number_field :expert_rate, :value => @project_task.expert_rate || 1, :min => 0.01, :step => 0.01, :required => true, :readonly => true, :class => 'form-control' %>
                </div>
                <div class="col-lg-3 col-12 form-group">
                    <%= f.label :is_shorthand %><span class="text-red">*</span>
                    <%= f.select :is_shorthand, boolean_options, { :include_blank => false }, :class => 'form-control select2' %>
                </div>
            </div>

            <div class="form-group mb-0 d-flex justify-content-between">
                <div>
                    <%= submit_tag t('action.submit'), :class => 'btn btn-primary' %>
                    <%= link_to t('action.back'), return_to(project_path(@project)), :class => 'btn btn-secondary' %>
                </div>
                <div>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <%= t(:external_link) %>
                    </button>
                    <div class="dropdown-menu">
                        <%= link_to '虚拟号', 'https://api.winnerlook.com/index', :target => '_blank', :class => 'dropdown-item clipboard'  %>
                        <%= link_to '全时', 'https://aktins-associates.baiying.quanshi.com', :target => '_blank', :class => 'dropdown-item clipboard' %>
                        <%= link_to '263', 'https://meet.263.net', :target => '_blank', :class => 'dropdown-item clipboard' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<script>
    $(function(){
        new ClipboardJS('.clipboard', {
            text: function(){ return $('#expert_info').val(); }
        });
    });
    $('#project_task_expert_id').change(function(){
        getExpertInfo();
    });
    $('#project_task_expert_level').change(function(){
        getExpertRate();
    });
    // 获取专家简易信息, 用于剪切板
    function getExpertInfo(){
        var expert_id = $('#project_task_expert_id').val();
        $.ajax({
            type: 'get',
            url: '/candidates/' + expert_id + '/expert_info_for_clipboard',
            async: false,
            dataType: 'json',
            success: function(data){
                $('#expert_info').val(data.data);
            },
            error: function(data){
                $('#expert_info').val('');
            }
        })
    }
    function getExpertRate(){
        let expert_level = $('#project_task_expert_level')[0];
        let expert_rate = $('#project_task_expert_rate')[0];
        if(expert_level.value == 'standard'){
            expert_rate.readOnly = true;
            expert_rate.value = 1;
        }else if(expert_level.value == 'premium'){
            expert_rate.readOnly = false;
        }
    }
</script>