<div class="card p-2 mb-2 d-flex flex-row justify-content-between">
    <div>
        <%= link_to new_project_path, :class => 'btn btn-primary' do %>
                <%= fa_icon_tag('plus') %> <%= "#{t('action.new_model', :model => mt(:project))}" %>
        <% end if can? :new, Project %>
    </div>
    <%= render :partial => 'projects/widgets/search_modal' %>
</div>

<% if @projects.present? %>
    <div class="card p-2 mb-2">
        <table class="table table-sm table-striped card-text">
            <thead>
            <tr>
                <th><%= check_box_tag :selectAll, nil, nil, :onclick => 'selectAll(this);' %></th>
                <th><%= mt(:project, :id) %></th>
                <th><%= mt(:project, :name) %></th>
                <th><%= mt(:project, :code) %></th>
                <th><%= mt(:project, :started_at) %></th>
                <th><%= mt(:project, :ended_at) %></th>
                <th><%= mt(:project, :status) %></th>
                <th><%= mt(:project, :created_at) %></th>
            </tr>
            </thead>
            <tbody>
            <% @projects.each do |project| %>
                <tr>
                    <td><%= check_box_tag :'uids[]', project.id, false %></td>
                    <td><%= content_tag :span, "# #{project.uid}", :class => 'text-gray' %></td>
                    <td><%= link_to project.name, project_path(project) %></td>
                    <td><%= project.code %></td>
                    <td><%= project.started_at.try(:strftime, '%F') %></td>
                    <td><%= project.ended_at.try(:strftime, '%F') %></td>
                    <td><%= project_status_badge(project.status) %></td>
                    <td><%= project.created_at.strftime('%F %T') %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    <%= will_paginate @projects %>
<% else %>
    <div class="card p-2">
        <div class="p-4 text-center">
            <h5 class="text-gray mb-0"><%= t(:not_found) %></h5>
        </div>
    </div>
<% end %>