<%= model_error_tag(@company) %>

<div class="row">
    <div class="col-12 form-group">
        <%= company_category_badge(@company.category) %>
        <%= company_signed_badge(@company.is_signed?) %>
        <span class="badge badge-light"><%= show_creator(@company) %></span>
        <span class="badge badge-light"><%= show_timestamps(@company) %></span>
    </div>

    <div class="col-lg-3 col-6 form-group">
        <%= f.label :name %><span class="text-red">*</span>
        <%= f.text_field :name, :required => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :name_abbr %><span class="text-red">*</span>
        <%= f.text_field :name_abbr, :required => true, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :tax_id %>
        <%= f.text_field :tax_id, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :industry %>
        <%= f.select :industry, industry_options, { :prompt => default_prompt }, :class => 'form-control select2' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :city %><span class="text-red">*</span>
        <%= f.text_field :city, :required => true, :class => 'form-control autocomplete-city' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :address %>
        <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :linkman %>
        <%= f.text_field :linkman, :class => 'form-control' %>
    </div>
    <div class="col-lg-3 col-6 form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <div class="col-12 form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :rows => 5, :class => 'form-control' %>
    </div>

</div>

<script>
    $('.autocomplete-city').autocomplete({ source: '/location_data/autocomplete_city.json', delay: 500 });
</script>