<div class="card">
    <div class="card-header d-flex flex-row justify-content-between">
        <h5 class="text-uppercase mb-0">
            <%= fa_icon_tag('users') %> <%= mt(:candidate, :seat) %>
        </h5>
    </div>

    <div class="card-body p-2">
        <% if seats.any? %>
            <table class="table table-sm table-striped table-hover card-text">
                <thead>
                <tr>
                    <th><%= mt(:candidate, :id) %></th>
                    <th><%= mt(:candidate, :name_cn) %></th>
                    <th><%= mt(:candidate, :name_en) %></th>
                    <th><%= mt(:candidate, :phone) %></th>
                    <th><%= mt(:candidate, :phone1) %></th>
                    <th><%= mt(:candidate, :email) %></th>
                    <th><%= mt(:candidate, :email1) %></th>
                    <th><%= mt(:candidate, :created_by) %></th>
                    <th><%= mt(:candidate, :created_at) %></th>
                    <th><%= t(:operation) %></th>
                </tr>
                </thead>
                <tbody>
                <% seats.each do |seat| %>
                    <tr>
                        <td><%= content_tag :span, "# #{seat.uid}", :class => 'text-gray' %></td>
                        <td><%= link_to seat.name_cn, edit_seat_candidate_path(seat) %></td>
                        <td><%= seat.name_en %></td>
                        <td><%= seat.phone %></td>
                        <td><%= seat.phone1 %></td>
                        <td><%= seat.email %></td>
                        <td><%= seat.email1 %></td>
                        <td><%= seat.creator.name_cn %></td>
                        <td><%= seat.creator.created_at.strftime('%F %T') %></td>
                        <td>
                            <%= link_to candidate_path(seat), :method => :delete, :class => 'btn btn-danger btn-xs', :data => { :confirm => t(:sure_to_delete) } do %>
                                <%= fa_icon_tag('remove') %> <%=  t('action.delete') %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% else %>
            <div class="p-2 text-center">
                <h5 class="text-gray mb-0"><%= t(:not_found) %></h5>
            </div>
        <% end %>
    </div>
</div>