<div class="card mb-3">
    <div class="card-header d-flex flex-row justify-content-between">
        <h5 class="text-uppercase mb-0">
            <%= fa_icon_tag('file-text') %>
            <%= mt(:contract) %>
        </h5>
    </div>

    <div class="card-body p-2">
        <% if contracts.any? %>
            <table class="table table-sm table-striped table-hover card-text">
                <thead>
                <tr>
                    <th><%= mt(:contract, :id) %></th>
                    <th><%= mt(:contract, :company_name) %></th>
                    <th><%= mt(:contract, :tax_id) %></th>
                    <th><%= mt(:contract, :address) %></th>
                    <th><%= mt(:contract, :phone) %></th>
                    <th><%= mt(:contract, :is_tax_included) %></th>
                    <th><%= mt(:contract, :is_invoice_needed) %></th>
                    <th><%= mt(:contract, :owner) %></th>
                    <th><%= mt(:contract, :created_at) %></th>
                </tr>
                </thead>
                <tbody>
                <% contracts.each do |contract| %>
                    <tr>
                        <td><%= content_tag :span, "# #{contract.uid}", :class => 'text-gray' %></td>
                        <td><%= link_to contract.company_name, edit_contract_path(contract) %></td>
                        <td><%= contract.tax_id %></td>
                        <td><%= contract.address %></td>
                        <td><%= contract.phone %></td>
                        <td><%= boolean_display(contract.is_tax_included) %></td>
                        <td><%= boolean_display(contract.is_invoice_needed) %></td>
                        <td><%= contract.owner.name_cn %></td>
                        <td><%= contract.created_at.strftime('%F %T') %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% else %>
            <div class="p-2 text-center">
                <h5 class="text-gray mb-0"><%= t(:not_found) %></h5>
            </div>
        <% end %>
    </div>
</div>