<div class="card">
    <div class="card-header">
        <h5><%= fa_icon_tag('bank') %> <%= t('action.new_model', :model => mt(:company)) %></h5>
        <%= link_to fa_icon_tag('close'), companies_path, :class => 'card-header-close' %>
    </div>

    <div class="card-body">
        <%= form_for @company do |f| %>
            <%= render :partial => 'form', :locals => { :f => f } %>

            <div class="form-group mb-0">
                <%= f.submit t('action.submit'), :class => 'btn btn-submit' %>
                <%= link_to t('action.back'), companies_path, :class => 'btn btn-back' %>
            </div>
        <% end %>
    </div>
</div>
