<div class="card">
    <div class="card-header d-flex flex-row justify-content-between">
        <h5 class="text-uppercase mb-0">
            <%= fa_icon_tag('users') %> <%= t('action.new', :model => mt(:candidate, :seat)) %>
        </h5>
        <%= link_to fa_icon_tag('close'), company_path(@company), :class => 'h5 mb-0 text-decoration-none text-dark' %>
    </div>

    <div class="card-body">
        <%= form_for @client, :url => create_client_candidates_path, :method => :post do |f| %>
            <%= render :partial => 'candidates/client_form', :locals => { :f => f } %>

            <div class="form-group mb-0">
                <%= f.submit t('action.submit'), :class => 'btn btn-submit' %>
                <%= link_to t('action.back'), company_path(@company), :class => 'btn btn-back' %>
            </div>
        <% end %>
    </div>
</div>
