<div class="card">
    <div class="card-header">
        <h5><%= fa_icon_tag('bank') %> <%= mt(:company) %></h5>
        <%= link_to fa_icon_tag('close'), companies_path, :class => 'card-header-close' %>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-between">
                <h6>
                    <span class="text-gray mr-3"><%= "# #{@company.uid}" %></span>
                    <span><%= @company.name %></span>
                </h6>
                <div class="btn-group btn-group-sm">
                    <%= link_to edit_company_path(@company), :class => 'btn btn-dark' do %>
                        <%= fa_icon_tag('edit') %> <%= "#{t('action.edit_model', :model => mt(:company))}" %>
                    <% end %>
                </div>
            </div>
        </div>

        <!-- main info -->
        <div class="row">
            <div class="col-12 form-group">
                <%= company_category_badge(@company.category) %>
                <%= company_signed_badge(@company.is_signed?) %>
                <span class="badge badge-light"><%= show_creator(@company) %></span>
                <span class="badge badge-light"><%= show_timestamps(@company) %></span>
            </div>

            <div class="col-lg-6 col-12 input-group input-group-sm input-group-align">
                <div class="input-group-prepend">
                    <span class="input-group-text"><%= mt(:company, :name) %></span>
                </div>
                <%= content_tag :span, @company.name, :class => 'form-control' %>
            </div>
            <div class="col-lg-6 col-12 input-group input-group-sm input-group-align">
                <div class="input-group-prepend">
                    <span class="input-group-text"><%= mt(:company, :name_abbr) %></span>
                </div>
                <%= content_tag :span, @company.name_abbr, :class => 'form-control' %>
            </div>
            <div class="col-lg-6 col-12 input-group input-group-sm input-group-align">
                <div class="input-group-prepend">
                    <span class="input-group-text"><%= mt(:company, :tax_id) %></span>
                </div>
                <%= content_tag :span, @company.tax_id, :class => 'form-control' %>
            </div>
            <div class="col-lg-6 col-12 input-group input-group-sm input-group-align">
                <div class="input-group-prepend">
                    <span class="input-group-text"><%= mt(:company, :industry) %></span>
                </div>
                <%= content_tag :span, @company.industry, :class => 'form-control' %>
            </div>
            <div class="col-lg-6 col-12 input-group input-group-sm input-group-align">
                <div class="input-group-prepend">
                    <span class="input-group-text"><%= mt(:company, :city) %></span>
                </div>
                <%= content_tag :span, @company.city, :class => 'form-control' %>
            </div>
            <div class="col-lg-6 col-12 input-group input-group-sm input-group-align">
                <div class="input-group-prepend">
                    <span class="input-group-text"><%= mt(:company, :address) %></span>
                </div>
                <%= content_tag :span, @company.address, :class => 'form-control' %>
            </div>
            <div class="col-lg-6 col-12 input-group input-group-sm input-group-align">
                <div class="input-group-prepend">
                    <span class="input-group-text"><%= mt(:company, :phone) %></span>
                </div>
                <%= content_tag :span, @company.phone, :class => 'form-control' %>
            </div>
            <div class="col-12 input-group input-group-sm input-group-align">
                <div class="input-group-prepend">
                    <span class="input-group-text"><%= mt(:company, :description) %></span>
                </div>
                <%= text_area_tag :description, @company.description, :rows => 5, :disabled => true, :class => 'form-control bg-white' %>
            </div>
        </div>

        <%= render :partial => 'companies/show/contracts',  :locals => { :contracts => @contracts } %>
        <%= render :partial => 'companies/show/clients',  :locals => { :clients => @clients } %>
    </div>
</div>