<section>
    <div class="card">
        <div class="card-header d-flex flex-row justify-content-between">
            <h5 class="text-uppercase mb-0">
                <i class="fa fa-bank"></i>
                <%= mt(:company) %>
            </h5>
            <%= link_to fa_icon_tag('close'), companies_path, :class => 'h5 mb-0 text-decoration-none text-dark' %>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12 d-flex flex-row justify-content-between">
                    <h6>
                        <span class="text-gray mr-3"><%= "# #{@company.uid}" %></span>
                        <span><%= @company.name %></span>
                    </h6>
                    <div class="btn-group btn-group-sm">
                        <%= link_to new_contract_company_path(@company), :class => 'btn btn-success' do %>
                            <i class="fa fa-plus"></i> <%= "#{t('action.new', :model => mt(:contract))}" %>
                        <% end %>
                        <%= link_to edit_company_path(@company), :class => 'btn btn-dark' do %>
                            <i class="fa fa-edit"></i> <%= "#{t('action.edit', :model => mt(:company))}" %>
                        <% end %>
                    </div>
                </div>
            </div>

            <!-- main info -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <%= company_category_badge(@company.category) %>
                        <%= company_signed_badge(@company.is_signed?) %>
                        <span class="badge badge-light"><%= show_creator(@company) %></span>
                        <span class="badge badge-light"><%= show_timestamps(@company) %></span>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="input-group input-group-sm input-group-align mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><%= mt(:company, :name) %></span>
                        </div>
                        <%= content_tag :span, @company.name, :class => 'form-control' %>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="input-group input-group-sm input-group-align mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><%= mt(:company, :name_abbr) %></span>
                        </div>
                        <%= content_tag :span, @company.name_abbr, :class => 'form-control' %>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="input-group input-group-sm input-group-align mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><%= mt(:company, :tax_id) %></span>
                        </div>
                        <%= content_tag :span, @company.tax_id, :class => 'form-control' %>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="input-group input-group-sm input-group-align mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><%= mt(:company, :industry) %></span>
                        </div>
                        <%= content_tag :span, @company.industry, :class => 'form-control' %>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="input-group input-group-sm input-group-align mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><%= mt(:company, :city) %></span>
                        </div>
                        <%= content_tag :span, @company.city, :class => 'form-control' %>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="input-group input-group-sm input-group-align mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><%= mt(:company, :address) %></span>
                        </div>
                        <%= content_tag :span, @company.address, :class => 'form-control' %>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="input-group input-group-sm input-group-align mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><%= mt(:company, :phone) %></span>
                        </div>
                        <%= content_tag :span, @company.phone, :class => 'form-control' %>
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-group input-group-sm input-group-align mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><%= mt(:company, :description) %></span>
                        </div>
                        <%= text_area_tag :description, @company.description, :rows => 5, :disabled => true, :class => 'form-control bg-white' %>
                    </div>
                </div>
            </div>

            <%= render :partial => 'show_contracts',  :locals => { :contracts => @contracts } %>
            <%= render :partial => 'show_seats',  :locals => { :seats => @seats } %>
        </div>
    </div>
</section>