<!-- search modal -->
<section id="add_to_project_modal_wrapper">
    <!-- fixed button -->
    <button id="add_to_project_modal_btn" type="button" data-toggle="modal" data-target="#addToProjectModal" class="float-btn btn-primary fa fa-search shadow"></button>
    <!-- Modal-->
    <div id="addToProjectModal" tabindex="-1" role="dialog"class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="searchModalLabel" class="modal-title"><%= t(:add_to_project) %></h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>

                <%= form_tag candidates_path, :method => :get do %>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <%= label_tag :global, nil, :class => 'form-control-label text-uppercase' %>
                                    <%= text_field_tag :term, params[:term], :class => 'form-control' %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <%= label_tag :name, mt(:candidate, :name), :class => 'form-control-label text-uppercase' %>
                                    <%= text_field_tag :nickname, params[:nickname], :class => 'form-control' %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <%= label_tag :is_available, mt(:candidate, :is_available), :class => 'form-control-label text-uppercase' %>
                                    <%= select_tag :is_available, options_for_select(boolean_options, params[:is_available]),
                                                   :prompt => '', :class => 'form-control' %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-secondary"><%= t('action.close') %></button>
                        <%= submit_tag t('action.submit'), :class => 'btn btn-primary' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>