<div class="card">
    <div class="card-header">
        <h5><%= fa_icon_tag('tasks') %> <%= t('action.edit_model', :model => mt(:project_requirement)) %></h5>
        <%= link_to fa_icon_tag('close'), project_path(@project_requirement.project), :class => 'card-header-close' %>
    </div>

    <div class="card-body">
        <%= form_for @project_requirement, :multipart => true do |f| %>
            <%= model_error_tag(@project_requirement) %>

            <div class="row">
                <div class="col-12 form-group">
                    <span class="badge badge-light"><%= show_creator(@project_requirement) %></span>
                    <span class="badge badge-light"><%= show_timestamps(@project_requirement) %></span>
                </div>

                <div class="col-12 form-group">
                    <%= f.label :content, mt(:project_requirement, :content) %><span class="text-red">*</span>
                    <%= f.text_area :content, :required => true, :rows => 5, :class => 'form-control' %>
                </div>
                <div class="col-12 form-group">
                    <%= f.label :demand_number %>
                    <%= f.number_field :demand_number, :min => 1, :class => 'form-control' %>
                </div>
                <div class="col-12 form-group">
                    <%= f.label :file %><%= link_to @project_requirement.file.url do %><%= fa_icon_tag('download') %> <%= t(:file) %><% end if @project_requirement.file.present? %>
                    <%= f.file_field :file, :class => 'form-control-file' %>
                </div>
            </div>

            <div class="form-group mb-0">
                <%= submit_tag t('action.submit'), :class => 'btn btn-submit' %>
                <%= link_to t('action.back'), project_path(@project_requirement.project), :class => 'btn btn-back' %>
            </div>
        <% end %>
    </div>
</div>