<div class="card card-inner mb-3">
    <div class="card-header">
        <h5><%= fa_icon_tag('phone') %> <%= t(:client_contact) %></h5>
        <%= link_to add_clients_project_path(@project), :class => 'btn btn-primary btn-xs' do %>
            <%= fa_icon_tag('plus') %> <%= t('action.add', :model => nil) %>
        <% end if can?(:add_clients, Project) && @project.can_edit? %>
    </div>

    <div class="card-body table-responsive">
        <% if clients.any? %>
            <table class="table table-sm table-striped table-hover card-text">
                <thead>
                <tr>
                    <th><%= mt(:candidate, :id) %></th>
                    <th><%= mt(:candidate, :name) %></th>
                    <th><%= mt(:candidate, :title) %></th>
                    <th><%= mt(:candidate, :phone) %></th>
                    <th><%= mt(:candidate, :email) %></th>
                    <th class="action"><%= t(:operation) %></th>
                </tr>
                </thead>
                <tbody>
                <% clients.each do |client| %>
                    <tr>
                        <td><%= content_tag :span, "# #{client.uid}", :class => 'text-gray' %></td>
                        <td><%= client.name %></td>
                        <td><%= client.title %></td>
                        <td><%= client.phone %><br><%= client.phone1 %></td>
                        <td><%= client.email %><br><%= client.email1 %></td>
                        <td class="action">
                            <%= link_to delete_client_project_path(@project, client_id: client.id),
                                        :method => :delete, :data => { :confirm => t(:sure_to_remove) },
                                        :class => 'btn btn-danger btn-xs' do %>
                                <%= fa_icon_tag('times') %> <%= t('action.remove') %>
                            <% end if can?(:delete_client, Project) && @project.can_edit? %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% else %>
            <div class="p-2 text-center">
                <h5 class="text-gray mb-0"><%= t(:not_found) %></h5>
            </div>
        <% end %>
    </div>
</div>