<div class="card card-inner mb-3">
    <div class="card-header">
        <h5><%= fa_icon_tag('user-circle') %> <%= mt(:expert) %></h5>
        <%= link_to candidates_path(project_id: @project.id, from_source: 'project'), :class => 'btn btn-primary btn-xs' do %>
            <%= fa_icon_tag('plus') %> <%= t('action.add') %>
        <% end if @project.can_edit? %>
    </div>

    <div class="card-body table-responsive">
        <% if experts.any? %>
            <table class="table table-sm table-striped table-hover card-text">
                <thead>
                <tr>
                    <th><%= mt(:candidate, :id) %></th>
                    <th><%= mt(:candidate, :name) %></th>
                    <th><%= mt(:candidate, :phone) %></th>
                    <th><%= mt(:candidate, :email) %></th>
                    <th class="action"><%= t(:operation) %></th>
                </tr>
                </thead>
                <tbody>
                <% experts.each do |expert| %>
                    <tr>
                        <td><%= content_tag :span, "# #{expert.uid}", :class => 'text-gray' %></td>
                        <td><%= expert.name %></td>
                        <td><%= expert.phone %><br><%= expert.phone1 %></td>
                        <td><%= expert.email %><br><%= expert.email1 %></td>
                        <td class="action">
                            <%= link_to delete_expert_project_path(@project, expert_id: expert.id),
                                        :method => :delete, :data => { :confirm => t(:sure_to_remove) },
                                        :class => 'btn btn-danger btn-xs' do %>
                                <%= fa_icon_tag('times') %> <%= t('action.remove') %>
                            <% end if @project.can_edit? %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% else %>
            <div class="p-2 text-center">
                <h5 class="text-gray mb-0">
                    <%= t(:not_found) %>,
                    <%= link_to(t(:go_to_add), candidates_path(project_id: @project.id, from_source: 'project')) if @project.can_edit? %>
                </h5>
            </div>
        <% end %>
    </div>
</div>