<div class="card mb-3">
    <div class="card-header d-flex flex-row justify-content-between">
        <h5 class="text-uppercase mb-0">
            <%= fa_icon_tag('user-circle') %> <%= mt(:expert) %>
        </h5>
        <%= link_to(t(:go_to_add), candidates_path(project_id: @project.id, from_source: 'project')) if @project.can_edit? %>
    </div>

    <div class="card-body p-2">
        <% if experts.any? %>
            <table class="table table-sm table-striped table-hover card-text">
                <thead>
                <tr>
                    <th><%= mt(:candidate, :id) %></th>
                    <th><%= mt(:candidate, :name) %></th>
                    <th><%= mt(:candidate, :phone) %></th>
                    <th><%= mt(:candidate, :email) %></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% experts.each do |expert| %>
                    <tr>
                        <td><%= content_tag :span, "# #{expert.uid}", :class => 'text-gray' %></td>
                        <td><%= "#{expert.name_cn}#{expert.name_en.present? ? "(#{expert.name_en})" : nil }" %></td>
                        <td><%= expert.phone %><br><%= expert.phone1 %></td>
                        <td><%= expert.email %><br><%= expert.email1 %></td>
                        <td>
                            <%= link_to(t('action.remove'), delete_expert_project_path(@project, expert_id: expert.id),
                                        :method => :delete, :data => { :confirm => t(:sure_to_delete) }) if @project.can_edit? %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% else %>
            <div class="p-2 text-center">
                <h5 class="text-gray mb-0">
                    <%= t(:not_found) %>,
                    <%= link_to(t(:go_to_add), candidates_path(project_id: @project.id, from_source: 'project')) if @project.can_edit? %>
                </h5>
            </div>
        <% end %>
    </div>
</div>