<div class="card mb-3">
    <div class="card-header d-flex flex-row justify-content-between">
        <h5 class="text-uppercase mb-0">
            <%= fa_icon_tag('street-view') %> <%= mt(:project_task) %>
        </h5>
        <%= link_to(t(:go_to_add), add_project_task_project_path(@project)) if @project.can_edit? %>
    </div>

    <div class="card-body p-2">
        <% if project_tasks.any? %>
            <table class="table table-sm table-striped table-hover card-text">
                <thead>
                <tr>
                    <th><%= mt(:project_task, :id) %></th>
                    <th><%= mt(:project_task, :category) %></th>
                    <th><%= mt(:expert) %></th>
                    <th><%= mt(:project_task, :cpt) %></th>
                    <th><%= mt(:project_task, :started_at) %></th>
                    <th><%= mt(:project_task, :ended_at) %></th>
                </tr>
                </thead>
                <tbody>
                <% project_tasks.each do |task| %>
                    <tr>
                        <td><%= content_tag :span, "# #{task.uid}", :class => 'text-gray' %></td>
                        <td><%= project_task_category_badge(task.category) %></td>
                        <td><%= task.candidate.name_cn %></td>
                        <td><%= task.cpt %></td>
                        <td><%= task.started_at.strftime('%F %T') %></td>
                        <td><%= task.ended_at.strftime('%F %T') %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% else %>
            <div class="p-2 text-center">
                <h5 class="text-gray mb-0">
                    <%= t(:not_found) %>,
                    <%= link_to(t(:go_to_add), add_project_task_project_path(@project)) if @project.can_edit? %>
                </h5>
            </div>
        <% end %>
    </div>
</div>