<div class="card card-inner mb-3">
    <div class="card-header">
        <h5><%= fa_icon_tag('tasks') %> <%= mt(:project_requirement) %></h5>
        <%= link_to add_project_requirement_project_path(@project), :class => 'btn btn-primary btn-xs' do %>
            <%= fa_icon_tag('plus') %> <%= t('action.add') %>
        <% end if can?(:add_project_requirement, Project) && @project.can_add_requirement? %>
    </div>

    <div class="card-body table-responsive">
        <% if project_requirements.any? %>
            <table class="table table-sm table-striped nowrap card-text">
                <thead>
                <tr>
                    <th><%= mt(:project_requirement, :content) %></th>
                    <th><%= mt(:project_requirement, :status) %></th>
                    <th><%= mt(:project_requirement, :created_by) %></th>
                    <th><%= mt(:project_requirement, :created_at) %></th>
                    <th class="action"><%= t(:operation) %></th>
                </tr>
                </thead>
                <tbody>
                <% project_requirements.each do |requirement| %>
                    <tr>
                        <td><%= project_requirement_content_raw(requirement.content) %></td>
                        <td><%= project_requirement_status_badge(requirement.status) %></td>
                        <td><%= requirement.creator.name_cn %></td>
                        <td class="text-nowrap"><%= requirement.created_at.strftime('%F %H:%M') %></td>
                        <td class="action">
                            <%= link_to edit_project_requirement_path(requirement), :class => 'btn btn-edit btn-xs' do %>
                                <%= fa_icon_tag('edit') %> <%= t('action.edit', :model => nil) %>
                            <% end if can?(:edit, ProjectRequirement) && requirement.can_edit? %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% else %>
            <div class="p-2 text-center">
                <h5 class="text-gray mb-0">
                    <% if @project.can_add_task? %>
                        <%= t(:not_found) %>
                    <% else %>
                        启动项目后才能添加需求
                    <% end %>
                </h5>
            </div>
        <% end %>
    </div>
</div>