<div class="card card-inner mb-3">
    <div class="card-header">
        <h5><%= fa_icon_tag('tasks') %> <%= mt(:project_requirement) %></h5>
        <%= link_to add_project_requirement_project_path(@project), :class => 'btn btn-primary btn-xs' do %>
            <%= fa_icon_tag('plus') %> <%= t('action.add') %>
        <% end if can?(:add_project_requirement, Project) && @project.can_add_requirement? %>
    </div>

    <div class="card-body" style="overflow-y: scroll; max-height: 240px;">
        <% if project_requirements.any? %>
            <table class="table table-sm table-striped card-text">
                <thead>
                <tr>
                    <th><%= mt(:project_requirement, :content) %></th>
                    <th><%= mt(:project_requirement, :demand_number) %></th>
                    <th><%= mt(:project_requirement, :file) %></th>
                    <th><%= mt(:project_requirement, :status) %></th>
                    <th><%= mt(:project_requirement, :created_by) %></th>
                    <th><%= mt(:project_requirement, :created_at) %></th>
                    <th class="action"><%= t(:operation) %></th>
                </tr>
                </thead>
                <tbody>
                <% project_requirements.each do |requirement| %>
                    <tr>
                        <td><%= content_raw(requirement.content) %></td>
                        <td><%= requirement.demand_number %></td>
                        <td><%= link_to requirement.file.url do %><%= fa_icon_tag('download') %><% end if requirement.file.present? %></td>
                        <td><%= project_requirement_status_badge(requirement.status) %></td>
                        <td><%= requirement.creator.name_cn %></td>
                        <td class="text-nowrap"><%= requirement.created_at.strftime('%F %H:%M') %></td>
                        <td class="action">
                            <div class="btn-group">
                                <%= link_to edit_project_requirement_path(requirement), :class => 'btn btn-edit btn-xs' do %>
                                    <%= fa_icon_tag('edit') %> <%= t('action.edit') %>
                                <% end if can?(:edit, ProjectRequirement) && requirement.can_edit? %>
                                <%= link_to finish_project_requirement_path(requirement), :method => :put, :class => 'btn btn-warning btn-xs',
                                            :data => { :confirm => t(:sure_to_finish)} do %>
                                    <%= fa_icon_tag('check') %> <%= t('action.finish') %>
                                <% end if can?(:finish, ProjectRequirement) && requirement.can_edit? %>
                                <%= link_to unfinish_project_requirement_path(requirement), :method => :put, :class => 'btn btn-danger btn-xs',
                                            :data => { :confirm => t(:sure_to_unfinish)} do %>
                                    <%= fa_icon_tag('remove') %> <%= t('action.unfinish') %>
                                <% end if can?(:cancel, ProjectRequirement) && requirement.can_edit? %>
                            </div>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% else %>
            <div class="p-2 text-center">
                <h5 class="text-gray mb-0">
                    <% if @project.can_add_task? %>
                        <%= t(:not_found) %>
                    <% else %>
                        启动项目后才能添加需求
                    <% end %>
                </h5>
            </div>
        <% end %>
    </div>
</div>