<div class="card card-inner mb-3">
    <div class="card-header">
        <h5><%= fa_icon_tag('users') %> <%= mt(:user) %></h5>
        <%= link_to users_path(project_id: @project.id, from_source: 'project', role: %w[pm pa]), :class => 'btn btn-primary btn-xs' do %>
            <%= fa_icon_tag('plus') %> <%= t('action.add') %>
        <% end if @project.can_edit? %>
    </div>

    <div class="card-body table_responsive">
        <% if users.any? %>
            <table class="table table-sm table-striped table-hover card-text">
                <thead>
                <tr>
                    <th><%= mt(:user, :id) %></th>
                    <th><%= mt(:user, :email) %></th>
                    <th><%= mt(:user, :name_cn) %></th>
                    <th><%= mt(:user, :role) %></th>
                    <th class="action"><%= t(:operation) %></th>
                </tr>
                </thead>
                <tbody>
                <% users.each do |user| %>
                    <tr>
                        <td><%= content_tag :span, "# #{user.uid}", :class => 'text-gray' %></td>
                        <td><%= user.email %></td>
                        <td><%= user.name_cn %></td>
                        <td><%= user_role_badge(user.role) %></td>
                        <td class="action">
                            <%= link_to delete_user_project_path(@project, user_id: user.id),
                                        :method => :delete, :data => { :confirm => t(:sure_to_remove) },
                                        :class => 'btn btn-danger btn-xs' do %>
                                <%= fa_icon_tag('times') %> <%= t('action.remove') %>
                            <% end if @project.can_edit? %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% else %>
            <div class="p-2 text-center">
                <h5 class="text-gray mb-0">
                    <%= t(:not_found) %>,
                    <%= link_to(t(:go_to_add), users_path(project_id: @project.id, from_source: 'project')) if @project.can_edit? %>
                </h5>
            </div>
        <% end %>
    </div>
</div>