<div class="col-lg-3 col-12 mb-3">
    <div class="card mb-3">
        <div class="card-header">
            <h6 class="mb-0">
                <i class="fa fa-long-arrow-up text-green"></i>
                <%= t('dashboard.current_month_increase') %>
            </h6>
        </div>
        <div class="card-body p-0">
            <div id="current_month_count_infos_wrapper">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h6 class="mb-0">
                <%= fa_icon_tag('sort-amount-desc') %>
                <%= t('dashboard.current_month_charge_duration_ranking') %> TOP 10
            </h6>
        </div>
        <div class="card-body p-0">
            <div id="current_month_task_duration_ranking_wrapper">
            </div>
            <div class="text-center text-bold">
                <%= link_to '···', current_month_task_ranking_statistics_path, :title => t(:show_all) %>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-9 col-12 mb-3">
    <!--
    <div class="card mb-3">
        <div class="card-header">
            <h6 class="mb-0">
                <%= t('dashboard.unscheduled_projects') %>
            </h6>
        </div>
        <div class="card-body p-0">
            <div id="unscheduled_projects_wrapper"></div>
            <div class="text-center text-bold">
                <%= link_to '···', projects_path, :title => t(:show_all) %>
            </div>
        </div>
    </div>
    -->
    <div class="card mb-3">
        <div class="card-header">
            <h6 class="mb-0">
                <%= fa_icon_tag('sort-amount-desc') %>
                <%= t('dashboard.current_month_call_ranking_by_company') %> TOP 10
                <%= link_to 'More', current_month_call_ranking_statistics_path, class: 'text-smaller' %>
            </h6>
        </div>
        <div class="card-body p-0">
            <div id="current_month_call_ranking_chart" style="height: 300px;"></div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h6 class="mb-0">
                <%= t('dashboard.ongoing_tasks') %>
                <%= content_tag :span, 0, :class => 'badge badge-success', :id => 'ongoing_project_tasks_count' %>
            </h6>
        </div>
        <div class="card-body p-0">
            <div id="ongoing_project_tasks_wrapper" class="table-responsive"></div>
            <div class="text-center text-bold">
                <%= link_to '···', ongoing_project_tasks_statistics_path, :title => t(:show_all) %>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $.get('statistics/current_month_count_infos.js');
        $.get('statistics/current_month_task_ranking.js?limit=10&mode=1');
        $.get('statistics/current_month_call_ranking.js?limit=10');
        // $.get('statistics/unscheduled_projects.js?limit=10');
        $.get('statistics/ongoing_project_tasks.js?limit=10');
    });
</script>