<div class="col-lg-3 col-12 mb-3">
    <div class="card mb-3">
        <div class="card-header">
            <h6 class="mb-0">
                <i class="fa fa-long-arrow-up text-green"></i>
                <%= t('dashboard.current_month_increase') %>
            </h6>
        </div>
        <div class="card-body p-0">
            <div id="current_month_count_infos_wrapper">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h6 class="mb-0">
                <%= fa_icon_tag('sort-amount-desc') %>
                <%= t('dashboard.current_month_charge_duration_ranking') %> TOP 10
            </h6>
        </div>
        <div class="card-body p-0">
            <div id="current_month_task_duration_ranking_wrapper">
            </div>
            <div class="text-center text-bold">
                <%= link_to '···', current_month_task_ranking_statistics_path, :title => t(:show_all) %>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-9 col-12 mb-3">
    <div class="card mb-3">
        <div class="card-header">
            <h6 class="mb-0">
                <%= fa_icon_tag('sort-amount-desc') %>
                <%= t('dashboard.current_month_call_ranking_by_company') %> TOP 10
                <%= link_to 'More', current_month_call_ranking_statistics_path, class: 'text-smaller' %>
            </h6>
        </div>
        <div class="card-body p-0">
            <div id="current_month_call_ranking_chart" style="height: 300px;"></div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h6 class="mb-0"><%= t('dashboard.ongoing_tasks') %></h6>
        </div>
        <div class="card-body pt-0 px-0">
            <% if @project_tasks.any? %>
                <table class="table table-sm table-striped border nowrap card-text">
                    <thead>
                    <tr>
                        <th><%= mt(:project_task, :id) %></th>
                        <th><%= mt(:project, :name) %></th>
                        <th><%= mt(:project, :code) %></th>
                        <th><%= mt(:project_task, :category) %></th>
                        <th><%= mt(:project_task, :interview_form) %></th>
                        <th><%= mt(:expert) %></th>
                        <th><%= mt(:project_task, :started_at) %></th>
                        <th><%= mt(:project_task, :duration) %></th>
                        <th><%= mt(:project_task, :charge_duration) %></th>
                        <th><%= mt(:project_task, :expert_rate) %></th>
                        <th><%= mt(:project_task, :f_flag_s) %></th>
                        <th><%= mt(:project_task, :is_shorthand_s) %></th>
                        <th><%= mt(:project_task, :is_recorded_s) %></th>
                        <th><%= mt(:project, :pm) %></th>
                        <th><%= mt(:project, :pa) %></th>
                        <th class="action"><%= t(:operation) %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @project_tasks.each do |task| %>
                        <% project = task.project %>
                        <tr>
                            <td><%= content_tag :span, "# #{task.uid}", :class => 'text-gray' %></td>
                            <td title="<%= project.name %>"><%= truncate(project.name, length: 8) %></td>
                            <td><%= project.code %></td>
                            <td><%= project_task_category_badge(task.category) %></td>
                            <td><%= project_task_interview_form_badge(task.interview_form) %></td>
                            <td><%= task.expert.name %></td>
                            <td><%= task.started_at.strftime('%F %H:%M') %></td>
                            <td><%= task.duration %></td>
                            <td><%= task.charge_duration %></td>
                            <td><%= task.expert_rate %></td>
                            <td><%= boolean_display(task.f_flag) %></td>
                            <td><%= boolean_display(task.is_shorthand) %></td>
                            <td><%= boolean_display(task.is_recorded) %></td>
                            <td><%= task.pm.name_cn %></td>
                            <td><%= task.pa.name_cn %></td>
                            <td class="action">
                                <%= link_to edit_project_task_path(task), :class => 'btn btn-dark btn-xs' do %>
                                    <%= fa_icon_tag('edit') %>
                                <% end if can?(:edit, ProjectTask) && task.can_be_edited_by(current_user) %>
                                <%= link_to project_task_path(task), :class => 'btn btn-primary btn-xs' do %>
                                    <%= fa_icon_tag('file') %>
                                <% end if task.can_show? %>
                            </td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
                <%= will_paginate @project_tasks %>
            <% else %>
                <div class="p-2 text-center">
                    <h5 class="text-gray mb-0"><%= t(:not_found) %></h5>
                </div>
            <% end %>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $.get('statistics/current_month_count_infos.js');
        $.get('statistics/current_month_task_ranking.js?limit=10');
        $.get('statistics/current_month_call_ranking.js?limit=10&mode=b');
        $.get('statistics/ongoing_project_tasks.js?limit=10');
    });
</script>