<div class="card p-2 mb-2 d-flex flex-row justify-content-between">
    <div>
        <%= render :partial => 'finance/widgets/batch_update_charge_status' %>
        <%= render :partial => 'finance/widgets/batch_update_payment_status' %>
        <%= render :partial => 'finance/widgets/batch_export' %>
    </div>
    <%= render :partial => 'finance/widgets/search_modal' %>
</div>

<% if @project_tasks.any? %>
    <div class="card p-2 table-responsive">
        <table class="table table-sm table-striped nowrap border-bottom card-text">
            <thead>
            <tr>
                <th><%= check_box_tag :selectAll, nil, nil, :onclick => 'selectAll(this);' %></th>
                <th><%= mt(:project_task, :id) %></th>
                <th><%= mt(:project, :name) %></th>
                <th><%= t(:project_id) %></th>
                <th><%= mt(:company, :name_abbr) %></th>
                <th><%= mt(:project_task, :started_at) %></th>
                <th><%= mt(:expert) %></th>
                <th><%= t(:expert_id) %></th>
                <th><%= mt(:project_task, :interview_form) %></th>
                <th><%= mt(:project_task, :duration) %></th>
                <th><%= mt(:project_task, :charge_duration) %></th>
                <th><%= t(:expert_payment) %> <%= fa_icon_tag('long-arrow-down') %></th>
                <th><%= mt(:project_task, :actual_price_excluding_tax) %> <%= fa_icon_tag('long-arrow-up') %></th>
                <!--<th><%= fa_icon_tag('long-arrow-up') %> <%= mt(:project_task, :shorthand_price) %></th>-->
                <th><%= mt(:project_task, :currency) %></th>
                <th><%= mt(:project_task, :charge_status) %></th>
                <th><%= mt(:project_task, :payment_status) %></th>
                <th class="action"><%= t(:operation) %></th>
            </tr>
            </thead>
            <tbody>
            <% @project_tasks.each do |task| %>
                <% project = task.project %>
                <tr>
                    <td><%= check_box_tag :'uids[]', task.id, false %></td>
                    <td><%= content_tag :span, "# #{task.uid}", :class => 'text-gray' %></td>
                    <td title="<%= project.name %>"><%= truncate(project.name, length: 8) %></td>
                    <td><%= project.uid %></td>
                    <td><%= project.company.name_abbr %></td>
                    <td><%= task.started_at.strftime('%F %H:%M') %></td>
                    <td><%= link_to task.expert.name, candidate_path(task.expert_id), :target => '_blank' %></td>
                    <td><%= task.expert.uid %></td>
                    <td><%= project_task_interview_form_badge(task.interview_form) %></td>
                    <td><%= "#{task.duration} #{t(:minute)}" %></td>
                    <td><%= "#{task.charge_duration} #{t(:minute)}" %></td>
                    <td><%= task.expert_cost_friendly %></td>
                    <td><%= task.actual_price %></td>
                    <!--<td><%= task.shorthand_price %></td>-->
                    <td><%= currency_display(task.currency) %></td>
                    <td><%= project_task_charge_status_badge(task.charge_status) %></td>
                    <td><%= project_task_payment_status_badge(task.payment_status) %></td>
                    <th class="action">
                        <%= link_to finance_path(task), :class => 'btn btn-primary btn-xs' do %>
                            <%= fa_icon_tag('file') %> <%= t('action.detail') %>
                        <% end %>
                    </th>
                </tr>
            <% end %>
            </tbody>
        </table>
        <%= will_paginate @project_tasks %>
    </div>
<% else %>
    <div class="card p-2">
        <div class="p-4 text-center">
            <h5 class="text-gray mb-0"><%= t(:not_found) %></h5>
        </div>
    </div>
<% end %>