<div class="card">
    <div class="card-header">
        <h5><%= fa_icon_tag('file') %> <%= t('action.detail') %></h5>
        <%= link_to fa_icon_tag('close'), finance_index_path, :class => 'card-header-close' %>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex flex-column flex-lg-row justify-content-between">
                <h6>
                  <span class="text-gray mr-3"><%= "# #{@project_task.uid}" %></span>
                </h6>
                <div class="btn-group btn-group-sm">
                    <%= link_to return_back_finance_path(@project_task), :method => :put, :class => 'btn btn-warning',
                                :data => { :confirm => t(:sure_to_submit) } do %>
                        <%= fa_icon_tag('arrow-left') %> <%= t(:return_back_and_reedit) %>
                    <% end if @project_task.can_return_back? && can?(:return_back, Finance) && @can_operate %>
                    <%= link_to edit_finance_path(@project_task), :class => 'btn btn-dark' do %>
                        <%= fa_icon_tag('edit') %> <%= t('action.update') %>
                    <% end if can?(:edit, Finance) && @can_operate %>
                </div>
            </div>
        </div>
        <%= render :partial => 'project_tasks/show/main_info' %>
        <%= render :partial => 'project_tasks/show/charge_info' %>
        <%= render :partial => 'project_tasks/show/payment_info' %>
    </div>
</div>