<!DOCTYPE html>
<html>
    <head>
        <title>ATKINS INSIGHTS</title>
        <%= favicon_link_tag asset_pack_path('media/images/logo.ico') %>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <% if signed_in? %>
            <%= render :partial => 'shared/main_navbar' %>
            <div class="container-fluid main">
                <%= display_flash_message %>
                <%= yield %>
            </div>
        <% else %>
            <%= display_flash_message %>
            <%= yield %>
        <% end %>
    </body>
</html>
